.keypad {
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.row:last-of-type {
    margin-bottom: 10px;
}

.buttonNumber,
.buttonSymbol,
.buttonCE,
.buttonC,
.buttonBackspace {
    width: 85px;
    padding: 11px 0;
    font-size: 20px;
    font-weight: 800;
    color: blue;
    background: #bfbcbc;
}

.buttonNumber {
    color: black;
    background: #fff;
}